.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app-container {
  text-align: center;
  padding: 50px;
  font-family: 'Segoe UI', sans-serif;
  background: #b7b7ee;
  color: white;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  margin-bottom: 10px;
  color: #f74141;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.file-button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  outline: 2px solid #000000;
}

.file-button:hover {
  background-color: #000000;
  color: #ffffff;
  outline: 2px solid #ffffff;
  transform: translateY(-2px);
}

.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b7b7ee;
  border-radius: 15px;
  z-index: -1;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right {
  gap: 30px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  min-width: 69px;
  max-width: 188px;
  transition: transform 0.1s ease, font-weight 0.1s ease; 
}

.nav-link:hover {
  font-weight: bold;  
  text-decoration: none;
}

.glass-number {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  padding: 12px;
  font-size: 18px;
  border-radius: 12px;
  outline: none;
  width: 100px;
}

.glass-number::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.glass-number:focus {
  border-color: #4a90e2;
}
